.offer__container,
.offer__container-text {
  display: flex;
  flex-direction: column;
}

.offer__container {
  max-width: 230px;
  background-color: var(--bg-primary);
  color: var(--color-secondary);
  align-items: center;
  border-radius: 1vmax;
  padding: 1rem;
  cursor: pointer;

  .offer__container-text {
    h4 {
      color: var(--bg-secondary);
      font-size: var(--font-lg);
    }

    h3,
    .offer__container-price {
      padding-block: .5rem;
    }

    h3 {
      font-size: var(--font-xlg);
    }

    &>div {
      margin-block: 8px;

      .offer__container-price {
        text-decoration: line-through;
        font-size: var(--font-md);
        font-weight: 600;
        margin-right: 11px;
      }

      .offer__container-descount {
        font-size: var(--font-xlg);
        color: var(--bg-secondary);
        font-weight: 600;

        :last-child {
          font-size: var(--font-md);
        }
      }
    }
  }

  .offer__container-image-container {
    position: relative;
    z-index: 1;

    .offer__container-background {
      position: absolute;
      width: 115px;
      height: 115px;
      background-color: var(--color-secondary);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      z-index: -1;
    }
  }

}