.discover-section {
  position: relative;
  z-index: 1;
  padding-block: 1rem;
  container-type: inline-size;

  .discover-bg {
    position: absolute;
    top: 0px;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: var(--bg-secondary);
  }

  .discover {
    height: 100%;
    color: var(--color=-primary);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 44px;


    img {
      display: none;
    }

    h3 {
      font-size: var(--font-xlg);
      padding-bottom: .6rem;
    }

    p {
      font-size: var(--font-md);
    }

    @container (width > 600px) {
      img {
        display: block;
        scale: .8;
      }
    }

    @container (width > 700px) {
      img {
        scale: 1;
      }

      h3 {
        font-size: var(--font-xxlg);
      }

      p {
        font-size: var(--font-lg);
      }
    }
  }

  @container (width > 600px) {
    .discover-bg {
      top: 60px;
      height: 200px;
    }
  }
}