.cart__product,
.cart__product__details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__product {
  min-width: 230px;
  color: var(--color-primary);
  border-radius: .8vmax;
  border: 2px solid #ececec;
  padding: 1rem;
  cursor: pointer;
  transition: box-shadow .3s;

  h3 {
    padding-top: 1rem;
  }

  .cart__product__details {

    .cart__product__details-price {
      color: var(--bg-primary);
      font-size: var(--font-lg);
      font-weight: 600;

      :last-child {
        font-size: var(--font-sm);
        font-weight: 600;
      }
    }

    .cart__product__details-nota {
      font-size: var(--font-sm);
      font-weight: 300;
    }
  }
}

@media (hover:hover) {
  .cart__product:hover {
    box-shadow: 5px 5px 5px #ececec;
  }
}