.cart__product-modal,
.cart__product__details-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cart__product-modal {
  h3 {
    padding-top: 1rem;
  }

  .cart__product__details-modal {
    .cart__product__details-price-modal {
      color: var(--bg-primary);
      font-size: var(--font-lg);
      font-weight: 600;

      .normal-price {
        color: var(--color-primary);
        text-decoration: line-through;
        font-size: var(--font-sm);
      }

      :last-child {
        font-size: var(--font-sm);
      }
    }

    .cart__product__details-nota-modal {
      font-size: var(--font-sm);
      font-weight: 300;
    }
  }
}