.btn {
  position: relative;
  display: flex;
  gap: .5rem;
  align-items: center;
  border-radius: 5px;
  background: var(--bg-terciary, #183153);
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 14px 25px;
}

.btn:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: var(--bg-secondary, #ffd401);
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btn:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btn svg {
  color: var(--color-seconday, #fff);
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.btn span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: var(--color-seconday, #fff);
  font-size: var(--font-md, 1.125em);
  font-weight: 700;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btn:hover span,
.btn:hover svg {
  color: var(--color-primary, #183153);
}