.hero {
  background-color: var(--bg-primary);
  color: var(--color-secondary);
}

.hero__inner,
.hero__inner h3 {
  display: flex;
}

.hero__inner {
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  container: hero-container / inline-size;

  h3 {
    font-size: var(--font-xxlg);
    flex-direction: column;


    .txt-shadow {
      text-shadow: 6px 6px var(--color-primary);
    }

    .big-txt {
      font-size: 3rem;
    }

    &>span:first-child {
      font-size: var(--font-lg);
      font-weight: 300;
      opacity: .8;
    }

    :nth-child(4) {
      font-size: var(--font-xlg);
    }

    :nth-child(6) {
      font-size: var(--font-xlg);

      :first-child {
        font-size: var(--font-lg);
      }
    }
  }

  picture {
    position: relative;
    width: 340px;
    height: 238px;

    img {
      position: absolute;
      object-fit: contain;
    }
  }

  /* responsive area */
  @container hero-container (width > 700px) {
    h3>span:first-child {
      font-size: var(--font-xxlg);
    }

    picture {
      width: min(50vw, 640px);
      height: 538px;
    }
  }
}